<%- include("partials/header", { message: message }) %>

    <div class="container-custom">

        <form action="/create/<%= formName %>" method="POST">
            <% tableData.forEach(function(field) { %>
                <% if (field.Field !==tableData[0].Field) { %>
                    <div>
                        <label for="<%= field.Field %>">
                            <%= field.Field %>:
                        </label>
                        <input type="text" id="<%= field.Field %>" name="<%= field.Field %>" class="form-input">
                    </div>
                    <% } %>
                        <% }); %>
                            <button class="button" type="submit">Add New <%= formName %></button>
        </form>
        Note: All dates are of form YYYY/MM/DD, booleans are Yes/No. For prices, you may omit the $ but ensure the form
        00.00.
    </div>
    <div class="container-custom">

        <form action="/delete/<%= formName %>" method="POST">
            <div>
                <label for="<%= tableData[0] %>">
                    <%= tableData[0].Field %>:
                </label>
                <input type="text" id="<%= tableData[0].Field %>" name="<%= tableData[0].Field %>" class="form-input" required>
            </div>
            <button class="button" type="submit">Delete <%= formName %></button>
        </form>

    </div>

    <%- include("partials/footer") %>